/* body {
    font: 1em sans-serif;
    width: 200px;
    padding: 0;
    margin: 0 auto;
  }
   */
  form {
    max-width: 200px;
  }
  
  p * {
    display: block;
  }
  
  input.mail {
    appearance: none;
    width: 100%;
    border: 1px solid #333;
    margin: 0;
  
    
    box-sizing: border-box;
  }
  
  /* This is our style for the invalid fields */
  input.invalid {
    border-color: #900;
    border-width: 2px;
    background-color: #fdd;
    color: #900;
  }
  
  input:focus.invalid {
    outline: none;
  }
  
  /* This is the style of our error messages */
  .error {
    width: 30%;
    color: rgb(216, 16, 16);
  }
  
  .error.active {
    padding: 0.3em;
  }
  